apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployement
  namespace: chat-app
spec:
  replicas: 1
  selector:
    matchLabels:
     app: frontend
  template:
    metadata:
      name: frontend-pod
      namespace: chat-app
      labels:
        app: frontend
    spec:
      containers:
      - name: chatapp-frontend
        image: harshnainwaya0/chat-app-frontend:latests
        ports:
        - containerPort: 80
        env:
        - name: NODE_ENV
          value: production